*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
app/release/PraDigiLife_v4.8.2_Release(20Jan2023).apk
app/release/PraDigiLife_v4.8.2_Release(20Jan2023).apk
